# Flutter artifacts
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/android/.gradle/
**/android/local.properties

# Electron & Node artifacts
**/node_modules/
**/dist/
*.log

# Private keys & signatures (Never commit to Git)
sign/
*.pem
*.sig
*.pfx
**/app_config.dart
apps/boardest_teacher_oauth/
