# Flutter artifacts
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/android/.gradle/
**/android/local.properties

# Electron & Node artifacts
**/node_modules/
**/dist/
*.log
